HTTP_PORT=4000

DB_NAME=Grimoire

#Local MongoDB using Docker
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=27017


#Cloud database on MongoDB Atlas
DB_USER_ATLAS=
DB_PASSWORD_ATLAS=
DB_CLUSTER=
DB_APP_NAME=
