HTTP_PORT=4000                     # The port on which the server will listen for requests.
DB_NAME=Grimoire                   # The name of the database.

# Local MongoDB (used with Docker)
DB_USER=                           # Database administrator username.
DB_PASSWORD=                       # Database administrator password.
DB_HOST=localhost                  # Hostname of the database (usually localhost for local development).
DB_PORT=27017                      # Port on which MongoDB listens (default is 27017).

# MongoDB Atlas (Cloud serviñe Atlas)
DB_USER_ATLAS=                     # MongoDB Atlas administrator username.
DB_PASSWORD_ATLAS=                 # MongoDB Atlas administrator password.
DB_CLUSTER=                        # MongoDB Atlas cluster URL (e.g. cluster-name.mongodb.net).
DB_APP_NAME=                       # Name of the MongoDB Atlas application/project.
